$red: #ff5252;
$blue: #0097a7;
$darkBlue: #161e21;
$white: #ffffff;
$black: #101010;
$lightGray: #d4d4d4;
$mediumGray: #949494;
$terms: #0f2123;
$created: #1e2c2e;
$smallBox: #1d1524;
$bigBox: #0f2123;
